@import '../../../assets/styles/themes/base/common/shared';
.person-spouses {
  &__relation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 16px;
  }

  &__icon-and-name {
    display: flex;
    justify-content: start;
    margin-right: 16px;
  }
  &__icon {
    font-size: 32px;
    margin-right: 24px;
    &._female {
      color: @color-pink-cb;
    }
    &._male {
      color: @color-blue-27;
    }
  }
  &__spouses-link {
    white-space: nowrap;
    color: @color-green-04;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
      color: @color-green-04;
    }
  }
  &__spouses {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
  }
  &__title {
    line-height: 42px;
    color: @color-gray-1b;
    margin: 32px 0 8px 0;
  }
}
.theme-dark {
  &.person-spouses {
    &__spouses-link {
      color: @color-green-69;
    }
  }
}
@media (max-width: 800px) {
  .person-spouses {
    &__title {
      font-size: 20px;
      line-height: 42px;
    }
  }
}
