<div class="screen-gallery__slider" [class._inactive]="!!activeImage.length">
  <div class="screen-gallery keen-slider" #sliderRef>
    <div *ngIf="activeImage.length" class="screen-gallery__stripe"></div>
    <div
      class="screen-gallery__slide keen-slider__slide"
      *ngFor="let image of activeImage"
    >
      <img
        class="screen-gallery__image"
        (click)="openDialog(image.imageUrl)"
        src="{{ image.imageUrl }}"
        alt="image"
      />
    </div>
  </div>
</div>
