<div class="search-person">
  <input
    matInput
    placeholder="Кристен Стюарт"
    [(ngModel)]="search"
    (keyup.enter)="onSearch()"
    class="search-person__input"
  />
  <ng-template #noItemsTemplate>
    <div class="search-person__list _empty">
      {{
        !search
          ? 'Здесь будет отображаться результат, введите что-то в поиск'
          : ' По вашему запросу ничего не найдено, проверьте правильность написания и попробуйте снова'
      }}
    </div></ng-template
  >
  <div
    class="search-person__list"
    *ngIf="(person$ | async)?.items; else noItemsTemplate"
  >
    <ng-container *ngFor="let person of (person$ | async)?.items">
      <a routerLink="/persons/{{ person?.kinopoiskId }}">
        <ff-card
          [name]="person?.nameRu ? person.nameRu : person.nameEn"
          [url]="person?.posterUrl ? person.posterUrl : ''"
          [gender]="person?.sex === 'FEMALE' ? 'Женский' : 'Мужской'"
        ></ff-card>
      </a>
    </ng-container>
  </div>
  <mat-paginator
    *ngIf="(person$ | async)?.total as total"
    class="search-person__paginator"
    [length]="total > 100 ? 100 : total"
    [pageSize]="pageSize"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
