@import '../../../assets/styles/themes/base/common/shared';
.search-person {
  color: @color-black-00;
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 48px;
  }
}
