<div class="search-person">
  <form class="search-person__search">
    <input
      matInput
      [(ngModel)]="search"
      name="search"
      class="search-person__search _input"
      (keyup.enter)="onSearch()"
    />
    <button
      class="search-person__search _button"
      type="submit"
      (click)="onSearch()"
    >
      Найти
    </button>
  </form>
  <ng-template #noItemsTemplate>
    <div class="search-person__list _empty">
      {{
        !search
          ? 'Здесь будет отображаться результат, введите что-то в поиск'
          : ' По вашему запросу ничего не найдено, проверьте правильность написания и попробуйте снова'
      }}
    </div>
  </ng-template>
  <div
    class="search-person__list"
    *ngIf="(person$ | async)?.items?.length; else noItemsTemplate"
  >
    <ng-container *ngFor="let person of (person$ | async)?.items">
      <a routerLink="/persons/{{ person?.kinopoiskId }}">
        <ff-card
          class="search-person__list _card"
          [name]="person?.nameRu ? person.nameRu : person.nameEn"
          [url]="person?.posterUrl ? person.posterUrl : ''"
          [gender]="person?.sex ? person.sex : ''"
        ></ff-card>
      </a>
    </ng-container>
  </div>
  <mat-paginator
    *ngIf="(person$ | async)?.total as total"
    class="search-person__paginator"
    [length]="total > 100 ? 100 : total"
    [pageSize]="pageSize"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
