@import '../../../assets/styles/themes/dark/common/shared';
.popup-film-movie {
  &__image {
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
    user-select: none;
  }
  &__arrows {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    fill: @color-white-ff;
    cursor: pointer;
  }
  &__arrow {
    height: 64px;
  }
  &:hover &__arrow {
    color: @color-green-69;
  }
}
