@import 'keen-slider/keen-slider.min.css';
@import '../../../assets/styles/themes/base/common/shared';

.genre-label {
  margin-right: 219px;
  padding: 4px 32px;
  margin: 1px 24px 24px 1px;
  border-radius: 17px;
  color: white;
  font-size: 20px;
  line-height: 24px;
  word-spacing: 0.5em;
  text-transform: capitalize;
  text-align: center;
  display: inline-block;

  &._comedy {
    background-color: @color-comedy;
  }

  &._horror {
    background-color: @color-horror;
  }

  &._adventures {
    background-color: @color-adventures;
  }

  &._thriller {
    background-color: @color-thriller;
  }

  &._melodrama {
    background-color: @color-melodrama;
  }

  &._fantasy {
    background-color: @color-fantasy;
  }

  &._action {
    background-color: @color-action;
  }

  &._family {
    background-color: @color-family;
  }

  &._drama {
    background-color: @color-drama;
  }

  &._crime {
    background-color: @color-crime;
  }

  &._cartoon {
    background-color: @color-cartoon;
  }

  &._anime {
    background-color: @color-anime;
  }

  &._military {
    background-color: @color-military;
  }

  &._history {
    background-color: @color-history;
  }

  &._biography {
    background-color: @color-biography;
  }

  &._detective {
    background-color: @color-detective;
  }

  &._fiction {
    background-color: @color-fiction;
  }
  &._western {
    background-color: @color-western;
  }
}
@media screen and (max-width: 800px) {
  .genre-label {
    font-size: 14px;
    padding: 2px 15px;
    margin: 2px 6px 6px 2px;
  }
}
