@import 'keen-slider/keen-slider.min.css';
@import '../../../assets/styles/themes/base/common/shared';

.genre-label {
  padding: 4px 32px;
  margin: 1px 24px 24px 1px;
  border-radius: 17px;
  color: white;
  font-size: 20px;
  line-height: 24px;
  word-spacing: 0.5em;
  text-transform: capitalize;
  text-align: center;
  display: inline-block;

  &._comedy {
    background-color: @color-genre-comedy;
  }

  &._horror {
    background-color: @color-genre-horror;
  }

  &._adventures {
    background-color: @color-genre-adventures;
  }

  &._thriller {
    background-color: @color-genre-thriller;
  }

  &._melodrama {
    background-color: @color-genre-melodrama;
  }

  &._fantasy {
    background-color: @color-genre-fantasy;
  }

  &._action {
    background-color: @color-genre-action;
  }

  &._family {
    background-color: @color-genre-family;
  }

  &._drama {
    background-color: @color-genre-drama;
  }

  &._crime {
    background-color: @color-genre-crime;
  }

  &._cartoon {
    background-color: @color-genre-cartoon;
  }

  &._anime {
    background-color: @color-genre-anime;
  }

  &._military {
    background-color: @color-genre-military;
  }

  &._history {
    background-color: @color-genre-history;
  }

  &._biography {
    background-color: @color-genre-biography;
  }

  &._detective {
    background-color: @color-genre-detective;
  }

  &._fiction {
    background-color: @color-genre-fiction;
  }
  &._western {
    background-color: @color-genre-western;
  }
  &._musical {
    background-color: @color-genre-musical;
  }
  &._sport {
    background-color: @color-genre-sport;
  }
  &._documentary {
    background-color: @color-genre-documentary;
  }
  &._short-film {
    background-color: @color-genre-short-film;
  }
  &._news {
    background-color: @color-genre-news;
  }
  &._concert {
    background-color: @color-genre-concert;
  }
  &._for-adults {
    background-color: @color-genre-for-adults;
  }
  &._ceremony {
    background-color: @color-genre-ceremony;
  }
  &._real-tv {
    background-color: @color-genre-real-tv;
  }
  &._game {
    background-color: @color-genre-game;
  }
  &._talk-show {
    background-color: @color-genre-talk-show;
  }
  &._children {
    background-color: @color-genre-children;
  }
  &._music {
    background-color: @color-genre-music;
  }
}
@media screen and (max-width: 1200px) {
  .genre-label {
    font-size: 16px;
    padding: 3px 28px;
    margin: 1px 20px 20px 1px;
    line-height: 20px;
  }
}
