@import 'keen-slider/keen-slider.min.css';
@import '../../../assets/styles/themes/base/common/shared';

.genre-label {
  padding: 4px 32px;
  margin: 1px 24px 24px 1px;
  border-radius: 17px;
  color: white;
  font-size: 20px;
  line-height: 24px;
  word-spacing: 0.5em;
  text-transform: capitalize;
  text-align: center;
  display: inline-block;

  &._comedy {
    background-color: @color-comedy;
  }

  &._horror {
    background-color: @color-horror;
  }

  &._adventures {
    background-color: @color-adventures;
  }

  &._thriller {
    background-color: @color-thriller;
  }

  &._melodrama {
    background-color: @color-melodrama;
  }

  &._fantasy {
    background-color: @color-fantasy;
  }

  &._action {
    background-color: @color-action;
  }

  &._family {
    background-color: @color-family;
  }

  &._drama {
    background-color: @color-drama;
  }

  &._crime {
    background-color: @color-crime;
  }

  &._cartoon {
    background-color: @color-cartoon;
  }

  &._anime {
    background-color: @color-anime;
  }

  &._military {
    background-color: @color-military;
  }

  &._history {
    background-color: @color-history;
  }

  &._biography {
    background-color: @color-biography;
  }

  &._detective {
    background-color: @color-detective;
  }

  &._fiction {
    background-color: @color-fiction;
  }
  &._western {
    background-color: @color-western;
  }
  &._music {
    background-color: @color-music;
  }
  &._musical {
    background-color: @color-musical;
  }
  &._sport {
    background-color: @color-sport;
  }
  &._documentary {
    background-color: @color-documentary;
  }
  &._short-film {
    background-color: @color-short-film;
  }
  &._news {
    background-color: @color-news;
  }
  &._concert {
    background-color: @color-concert;
  }
  &._for-adults {
    background-color: @color-for-adults;
  }
  &._ceremony {
    background-color: @color-ceremony;
  }
  &._real-tv {
    background-color: @color-real-tv;
  }
  &._game {
    background-color: @color-game;
  }
  &._talk-show {
    background-color: @color-talk-show;
  }
  &.children {
    background-color: @color-children;
  }
}
@media screen and (max-width: 1200px) {
  .genre-label {
    font-size: 16px;
    padding: 3px 28px;
    margin: 1px 20px 20px 1px;
    line-height: 20px;
  }
}
