<ng-container>
  <div class="keen-slider" #sliderRef>
    <div class="keen-slider__slide slide1" *ngFor="let film of films$ | async">
      <div class="banner">
        <div class="banner-name">
          <div class="nameRu">{{ film?.nameRu }}</div>
          <div class="nameEn">{{ film?.nameEn }}</div>
          <div class="genres">
            <ng-container *ngFor="let genre of film.genres">
              {{ genre.genre }}
            </ng-container>
          </div>
        </div>
        <div class="poster">
          <div class="posterUrl">
            <img src="{{ film?.posterUrl }}" alt="Постер" />
          </div>
        </div>
        <div class="description">
          <table>
            <tr class="rating">
              <td><p>Рейтинг</p></td>
              <td class="information">
                <div class="rating-icon">{{ film?.rating }}</div>
              </td>
            </tr>
            <tr class="filmLength">
              <td>
                <p>Продолжительность</p>
              </td>
              <td class="information">
                {{ film?.filmLength }}
              </td>
            </tr>
            <tr class="year">
              <td>
                <p>Год выпуска</p>
              </td>
              <td class="information">
                {{ film?.year }}
              </td>
            </tr>
            <tr class="countries">
              <td>
                <p>Страна</p>
              </td>
              <td class="information">
                <ng-container *ngFor="let country of film.countries">
                  {{ country.country }}
                </ng-container>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <svg
      [ngClass]="
        'arrow arrow--left ' + (currentSlide === 0 ? 'arrow--disabled' : '')
      "
      (click)="slider.prev()"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path
        d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"
      />
    </svg>
    <svg
      *ngIf="slider"
      [ngClass]="
        'arrow arrow--right ' +
        (slider.track.details.slides.length - 1 === currentSlide
          ? 'arrow--disabled'
          : '')
      "
      (click)="slider.next()"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
    </svg>
  </div>
</ng-container>
