@import 'keen-slider/keen-slider.min.css';

[class^='slide'],
[class*=' slide'] {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
}
.keen-slider {
  width: 1442px;
  height: 496px;
  position: absolute;
  max-width: 100%;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}
.banner {
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
}
.banner-name {
  width: 40%;
  height: 100%;
}
.nameRu {
  width: 70%;
  margin-top: 18%;
  margin-bottom: 9%;
  margin-left: 22%;
  font-size: 35px;
  font-weight: bold;
  color: white;
  line-height: 1.5;
}
.nameEn {
  width: 40%;
  margin-bottom: 6%;
  margin-left: 22%;
  color: rgb(167, 167, 167);
  font-size: 18px;
}
.genres {
  width: 75%;
  margin-left: 22%;
  color: white;
  font-size: 19px;
  line-height: 2.5;
  word-spacing: 0.5em;
}

.poster {
  width: 25%;
  height: 100%;
}
.posterUrl img {
  margin-top: 10%;
  margin-bottom: 10;
  width: 100%;
  height: 90%;
  background-size: 30% 100%;
}

.description {
  width: 35%;
  height: 100%;
  margin-top: 7%;
  line-height: 2;
}

.description p {
  display: inline-block;
  margin-left: 14%;
  height: 20%;
  color: rgb(167, 167, 167);
  font-size: 15px;
}
.rating {
  margin-right: 10%;
  color: white;
  font-size: 16px;
}
.filmLength {
  margin-right: 10%;
  color: white;
  font-size: 16px;
}
.countries {
  margin-right: 10%;
  color: white;
  font-size: 16px;
}
.year {
  margin-right: 10%;
  color: white;
  font-size: 16px;
}

.navigation-wrapper {
  position: relative;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 40px;
}

.arrow--right {
  right: 40px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}
