@import 'keen-slider/keen-slider.min.css';

[class^='slide'],
[class*=' slide'] {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
}

.keen-slider {
  width: 1442px;
  height: 496px;
  position: absolute;
  max-width: 100%;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.banner {
  width: 1215px;
  height: 496px;
  background: black;
  display: flex;

  &__name {
    width: 445px;
    padding-left: 58px;

    &._nameRu {
      width: 300px;
      margin-top: 90px;
      margin-bottom: 85px;
      font-size: 35px;
      font-weight: bold;
      color: white;
      line-height: 1.5;
    }

    &._nameEn {
      width: 300px;
      margin-bottom: 60px;
      color: rgb(167, 167, 167);
      font-size: 19px;
    }

    &._genres {
      width: 300px;
      color: white;
      font-size: 16px;
      line-height: 2.2;
      word-spacing: 0.5em;
      text-transform: capitalize;
    }
  }
  &__poster {
    width: 320px;
    height: 496px;
    display: flex;

    &._posterUrl img {
      margin-top: 25px;
      width: 300px;
      height: 90%;
    }
  }
  &__description {
    width: 345px;
    height: 496px;
    margin-top: 55px;
    line-height: 2;
    margin-left: 15px;
    display: inline-grid;
    display: grid;
    grid-template-columns: 130px 100px;
    grid-template-rows: 75px 75px 75px 75px 75px;

    &._rating {
      grid-area: 1 / 1 / 2 / 2;
      color: rgb(167, 167, 167);
      font-size: 14px;
      text-align: left;
    }

    &._rating-icon {
      grid-area: 1 / 2 / 2 / 3;
      color: black;
      font-size: 17px;
      text-align: right;
    }

    &._rating-icon p {
      background: #ffffff;
      border-radius: 17px;
      text-align: center;
      margin-top: 0px;
      margin-left: 50px;
    }

    &._filmLength {
      grid-area: 2 / 1 / 3 / 2;
      color: rgb(167, 167, 167);
      font-size: 14px;
      text-align: left;
    }

    &._filmLength-info {
      grid-area: 2 / 2 / 3 / 3;
      color: white;
      font-size: 16px;
      text-align: right;
      word-spacing: 60px;
    }

    &._countries {
      grid-area: 3 / 1 / 4 / 2;
      color: rgb(167, 167, 167);
      font-size: 14px;
      text-align: left;
    }

    &._country {
      grid-area: 3 / 2 / 4 / 3;
      color: white;
      font-size: 16px;
      text-align: right;
      word-spacing: 60px;
    }

    &._years {
      grid-area: 4 / 1 / 5 / 2;
      color: rgb(167, 167, 167);
      font-size: 14px;
      text-align: left;
    }

    &._year {
      grid-area: 4 / 2 / 5 / 3;
      color: white;
      font-size: 16px;
      text-align: right;
    }
  }
}

.navigation-wrapper {
  position: relative;
}

.arrow {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 30px;
}

.arrow--right {
  right: 30px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}
