<ng-container *ngFor="let film of (films$ | async)?.films">
  <div class="keen-slider" #sliderRef>
    <div class="keen-slider__slide slide1">
      <div class="banner">
        <div class="banner-name">
          <div class="nameRu">{{ film?.nameRu }}</div>
          <div class="nameEn">{{ film?.nameEn }}</div>
          <div class="description">
            <p>Жанр:</p>
            <div class="genres">{{ film?.genres }}></div>
            <div class="addition">
              <div class="year">{{ film?.year }}</div>
              &nbsp;&nbsp;
              <div class="countries">{{ film?.countries }}></div>
            </div>
          </div>
          <div class="filmLength">
            <p>Продолжительность:</p>
            {{ film?.filmLength }}
          </div>
        </div>
        <div class="poster">
          <div class="posterUrl">
            <img src="{{ film?.posterUrl }}" alt="Постер" />
          </div>
          <div class="gradient"></div>
        </div>
      </div>
    </div>
    <svg
      [ngClass]="
        'arrow arrow--left ' + (currentSlide === 0 ? 'arrow--disabled' : '')
      "
      (click)="slider.prev()"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path
        d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"
      />
    </svg>
    <svg
      *ngIf="slider"
      [ngClass]="
        'arrow arrow--right ' +
        (slider.track.details.slides.length - 1 === currentSlide
          ? 'arrow--disabled'
          : '')
      "
      (click)="slider.next()"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
    </svg>
  </div>
</ng-container>

<mat-paginator class="banner" [length]="100" (page)="onPageChange($event)">
</mat-paginator>
