@import 'keen-slider/keen-slider.min.css';

[class^='slide'],
[class*=' slide'] {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
}

.keen-slider {
  width: 1442px;
  height: 496px;
  position: absolute;
  max-width: 100%;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.banner {
  width: 1215px;
  height: 496px;
  background: black;
  display: flex;
}

.banner-name {
  width: 445px;
  height: 496px;
  padding-left: 108px;
}

.nameRu {
  width: 305px;
  margin-top: 90px;
  margin-bottom: 85px;
  font-size: 35px;
  font-weight: bold;
  color: white;
  line-height: 1.5;
}

.nameEn {
  margin-bottom: 60px;
  color: rgb(167, 167, 167);
  font-size: 19px;
}

.genres {
  width: 305px;
  color: white;
  font-size: 16px;
  line-height: 2.2;
  word-spacing: 0.5em;
  text-transform: capitalize;
}

.poster {
  width: 320px;
  height: 496px;
  display: flex;
}

.posterUrl img {
  margin-top: 25px;
  width: 300px;
  height: 90%;
}

.description {
  width: 340px;
  height: 496px;
  margin-top: 80px;
  line-height: 2;
  margin-left: 4px;
}

.description p {
  height: 35px;
  color: rgb(167, 167, 167);
  font-size: 14px;
  text-align: left;
}
.description table {
  width: 265px;
  //border: 1px solid white;
}
tr {
  width: 200px;
}

td {
  color: white;
}

.rating-icon {
  background: #ffffff;
  border-radius: 16px;
  padding: 0px 12px 0px 12px;
  color: black;
  font-size: 17px;
}

.information {
  text-align: right;
  word-spacing: 60px;
}

.navigation-wrapper {
  position: relative;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 40px;
}

.arrow--right {
  right: 40px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}
