<div class="banner">
  <div class="banner__container keen-slider" #sliderRef>
    <div
      class="banner__slide keen-slider__slide"
      *ngFor="let film of films$ | async"
    >
      <div class="banner__main-info">
        <div class="banner__name-main">
          {{ film.nameRu || film.nameEn }}
        </div>
        <div *ngIf="film.nameRu && film.nameEn" class="banner__name-en">
          {{ film?.nameEn }}
        </div>
        <div class="banner__genres">
          <ng-container *ngFor="let genre of film.genres">
            <ff-genre-label [genres]="genre.genre"></ff-genre-label>
          </ng-container>
        </div>
      </div>
      <div class="banner__poster">
        <img
          class="banner__poster-image"
          src="{{ film?.posterUrl }}"
          alt="Постер"
        />
      </div>
      <div class="banner__description">
        <div class="banner__description-row">
          <div class="banner__description-title">Рейтинг</div>
          <div class="banner__description-info">
            <div class="banner__rating">
              {{ film?.rating }}
            </div>
          </div>
        </div>
        <div class="banner__description-row">
          <div
            *ngIf="film.rating && film.filmLength"
            class="banner__description-title"
          >
            Продолжительность
          </div>
          <div class="banner__description-info">
            {{ film?.filmLength }}
          </div>
        </div>

        <div class="banner__description-row">
          <div class="banner__description-title">Год выпуска</div>
          <div class="banner__description-info">{{ film?.year }}</div>
        </div>

        <div class="banner__description-row">
          <div class="banner__description-title">Страна</div>
          <div class="banner__description-info">
            <ng-container *ngFor="let country of film.countries">
              {{ country.country + ', ' }}
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <svg
      class="banner__arrow _left"
      xmlns="http://www.w3.org/2000/svg"
      width="14"
      height="24"
      viewBox="0 0 14 24"
      fill="none"
      (click)="slider.prev()"
    >
      <path
        d="M1.5 1L12.5 12L1.5 23"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
    <svg
      class="banner__arrow _right"
      width="14"
      height="24"
      viewBox="0 0 14 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      (click)="slider.next()"
    >
      <path
        d="M1.5 1L12.5 12L1.5 23"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
</div>
