<ng-container>
  <div class="keen-slider" #sliderRef>
    <div class="keen-slider__slide slide1" *ngFor="let film of films$ | async">
      <div class="banner">
        <div class="banner__name">
          <div class="banner__name-ru">{{ film?.nameRu }}</div>
          <div class="banner__name-en">{{ film?.nameEn }}</div>
          <div class="banner__genres">
            <ng-container *ngFor="let genre of film.genres">
              <div class="banner__genre" [ngClass]="color[genre.genre]">
                {{ genre.genre }}
              </div>
            </ng-container>
          </div>
        </div>
        <div class="banner__poster">
          <div class="banner__poster _posterUrl">
            <img src="{{ film?.posterUrl }}" alt="Постер" />
          </div>
        </div>
        <div class="banner__description">
          <div class="banner__description-title _rating">Рейтинг</div>
          <div class="banner__description-value _rating">
            <div class="banner__description-value _rating _icon">
              {{ film?.rating }}
            </div>
          </div>
          <div class="banner__description-title _filmLength">
            Продолжительность
          </div>
          <div class="banner__description-value _filmLength">
            {{ film?.filmLength }}
          </div>
          <div class="banner__description-title _country">Страна</div>
          <div class="banner__description-value _country">
            <ng-container *ngFor="let country of film.countries">
              {{ country.country }}
            </ng-container>
          </div>
          <div class="banner__description-title _year">Год выпуска</div>
          <div class="banner__description-value _year">{{ film?.year }}</div>
        </div>
      </div>
    </div>
    <svg
      [ngClass]="
        'arrow arrow--left ' + (currentSlide === 0 ? 'arrow--disabled' : '')
      "
      (click)="slider.prev()"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path
        d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"
      />
    </svg>
    <svg
      *ngIf="(films$ | async)?.length as size"
      class="arrow arrow--right"
      [ngClass]="size - 1 === currentSlide ? 'arrow--disabled' : ''"
      (click)="slider.next()"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
    </svg>
  </div>
</ng-container>
