<div class="film-banner">
  <div class="film-banner__container keen-slider" #sliderRef>
    <div
      class="film-banner__slide keen-slider__slide"
      *ngFor="let film of films$ | async"
    >
      <div class="film-banner__main-info">
        <div class="film-banner__name-main">
          {{ film.nameRu || film.nameEn }}
        </div>
        <div *ngIf="film.nameRu && film.nameEn" class="film-banner__name-en">
          {{ film?.nameEn }}
        </div>
        <div class="film-banner__genres">
          <ng-container *ngFor="let genre of film.genres">
            <ff-genre-label [genre]="genre.genre"></ff-genre-label>
          </ng-container>
        </div>
      </div>
      <a class="film-banner__film-link" routerLink="/details/{{ film.filmId }}">
        <div class="film-banner__poster">
          <img
            class="film-banner__poster-image"
            src="{{ film?.posterUrl }}"
            alt="Постер"
          />
        </div>
      </a>
      <div class="film-banner__description">
        <div *ngIf="film.rating" class="film-banner__description-row">
          <div class="film-banner__description-title">Рейтинг</div>
          <div class="film-banner__description-info">
            <div class="film-banner__rating">
              {{ film.rating | rating }}
            </div>
          </div>
        </div>
        <div *ngIf="film.filmLength" class="film-banner__description-row">
          <div class="film-banner__description-title">Продолжительность</div>
          <div class="film-banner__description-info">
            {{ film?.filmLength }}
          </div>
        </div>

        <div *ngIf="film.year" class="film-banner__description-row">
          <div class="film-banner__description-title">Год выпуска</div>
          <div class="film-banner__description-info">{{ film?.year }}</div>
        </div>

        <div *ngIf="film.countries" class="film-banner__description-row">
          <div class="film-banner__description-title">Страна</div>
          <div class="film-banner__description-info">
            <ng-container *ngFor="let country of film.countries; let i = index">
              {{
                country.country + (i + 1 === film.countries.length ? '' : ', ')
              }}
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <svg
      class="film-banner__arrow _left"
      xmlns="http://www.w3.org/2000/svg"
      width="14"
      height="24"
      viewBox="0 0 14 24"
      fill="none"
      (click)="slider.prev()"
    >
      <path
        d="M1.5 1L12.5 12L1.5 23"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
    <svg
      class="film-banner__arrow _right"
      width="14"
      height="24"
      viewBox="0 0 14 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      (click)="slider.next()"
    >
      <path
        d="M1.5 1L12.5 12L1.5 23"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
</div>
