<div class="popup-film-movie">
  <img
    class="popup-film-movie__img"
    src="{{ images[currentIndex] }}"
    alt="enlargeImage"
  />
  <svg
    class="popup-film-movie__arrow _left-arrow"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    (click)="switchImage(true)"
  >
    <path
      d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"
    />
  </svg>
  <svg
    *ngIf="data.images"
    class="popup-film-movie__arrow"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
    (click)="switchImage(false)"
  >
    <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
  </svg>
</div>
