@import '../../../assets/styles/themes/base/common/shared';
@import '../../../assets/styles/themes/dark/common/shared';

.reviews {
  display: flex;
  flex-direction: column;
  margin: 0px 70px 30px;
  &__header {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  &__expansion-panel {
    background-color: @color-white-ff;
    color: @color-black-00;
    & .mat-expansion-indicator::after {
      color: @color-black-00;
    }
    &-header {
      color: @color-black-00;
    }
    &-title {
      color: @color-black-00;
    }
  }
  &__review-container {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 6px 6px 10px;
  }
  &__info-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__name-date-type-container {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px;
  }
  &__author-name {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
  }
  &__review-type {
    margin-top: 6px;
    padding: 6px;
    border-radius: 4px;
    color: @color-white-ff;
    &._positive {
      background-color: @color-green-04;
    }
    &._negative {
      background-color: @color-pink-cb;
    }
    &._neutral {
      background-color: @color-blue-27;
    }
  }
  &__author-ratings-container {
    margin-right: 50px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px;
  }
  &__author-all-ratings-container {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    padding: 6px;
  }
  &__author-positive-ratings {
    padding: 6px;
    width: 30%;
    text-align: center;
    border-radius: 4px;
    color: @color-white-ff;
    background-color: @color-green-04;
  }
  &__author-negative-ratings {
    padding: 6px;
    width: 30%;
    text-align: center;
    border-radius: 4px;
    color: @color-white-ff;
    background-color: @color-pink-cb;
  }
  &__review-title {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
    width: 50%;
  }
  &__review-description {
    margin-bottom: 5px;
    padding: 0px 30px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    &._show {
      //TODO: Set transition (but how?)
      -webkit-line-clamp: unset;
    }
  }
  &__see-more-button {
    border: none;
    margin-left: 30px;
    padding: 6px;
    width: 150px;
    color: @color-white-ff;
    background-color: @color-pink-cb;
  }
  &__icon {
    transition: all 0.2s;
    &._rotate {
      display: inline-block;
      transition: all 0.2s;
      transform: rotate(180deg);
    }
  }
  &__see-more-button:hover {
    transition: all 0.2s;
    background-color: @color-green-69;
    cursor: pointer;
    border-radius: 6px;
  }
  &__paginator {
    width: 24%;
    font-size: 14px;
    background-color: @color-white-ff;
    box-shadow: 0px 0px 6px;
    border-radius: 16px;
    &.mat-paginator {
      color: @color-black-00;
    }
  }
}

.theme-dark {
  & .reviews {
    &__expansion-panel {
      background-color: @color-black-00;
      color: @color-white-ff;
      & .mat-expansion-indicator::after {
        color: @color-white-ff;
      }
      &-header {
        color: @color-white-ff;
      }
      &-title {
        color: @color-white-ff;
      }
    }
    &__review-container {
      box-shadow: 6px 6px 10px;
    }
    &__paginator {
      background-color: @color-black-00;
      box-shadow: 0px 0px 6px;
      &.mat-paginator {
        color: @color-white-ff;
      }
    }
  }
}
