.reviews {
  display: flex;
  flex-direction: column;
  margin: 0px 70px 30px;
  &__header {
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;
    font-size: 40px;
  }
  &__review-container {
    border: 1px solid black;
    padding: 20px;
  }
  &__info-container {
    display: flex;
    justify-content: space-between;
  }
  &__author-name {
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
  }
}
