@import (inline) 'keen-slider/keen-slider.min.css';
@import '../../../assets/styles/themes/base/common/shared';

.genres-banner {
  max-width: 1600px;
  color: @color-black-00;
  text-align: center;
  margin: 0 auto;
  &__main {
    font-weight: 400;
    font-size: 50px;
    margin: 54px 0 50px;
  }
  &__minor {
    font-size: 25px;
    margin: 0 0 54px;
  }

  &__slide {
    display: flex;
    align-items: end;
    height: 400px;
    border-radius: 16px;

    &._comedy {
      width: 100%;
      height: 400px;
      object-fit: contain;
      background: url('../../../assets/images/comedy.jpg') no-repeat center;
    }
    &._horror {
      background-size: cover;
      background: url('../../../assets/images/horror.jpg') center;
    }
    &._action {
      background-size: cover;
      background: url('../../../assets/images/action.jpg') center;
    }

    &._drama {
      background-size: cover;
      background: url('../../../assets/images/drama.jpg') center;
    }

    &._adventure {
      background-size: cover;
      background: url('../../../assets/images/adventure.jpg') center;
    }

    &._fantasy {
      background-size: cover;
      background: url('../../../assets/images/fantasy.jpg') center;
    }

    &._thriller {
      background-size: cover;
      background: url('../../../assets/images/thriller.jpg') center;
    }

    &._romance {
      background-size: cover;
      background: url('../../../assets/images/romance.jpg') center;
    }

    &._family {
      background-size: cover;
      background: url('../../../assets/images/family.jpg') center;
    }
  }
  &__slide-link {
    &-genre {
      position: absolute;
      width: 100%;
      height: 70px;
      display: flex;
      margin-bottom: 25px;
      background: @color-gray-66;

      &-title {
        margin: 24px 24px;
        font-size: 32px;
        line-height: 20px;
        color: @color-white-ff;
      }
      &-triangles {
        width: 600px;
        height: 86px;
        background: url('../../../assets/images/triangles-genres.svg') no-repeat;
      }

      &._horror {
        background: @color-genre-horror;
      }
      &._comedy {
        background: @color-genre-comedy;
      }
      &._action {
        background: @color-genre-action;
      }
      &._drama {
        background: @color-genre-drama;
      }
      &._adventure {
        background: @color-genre-adventures;
      }
      &._fantasy {
        background: @color-genre-fantasy;
      }
      &._thriller {
        background: @color-genre-thriller;
      }
      &._romance {
        background: @color-genre-melodrama;
      }
      &._family {
        background: @color-genre-family;
      }
    }
  }
  &__dots {
    display: flex;
    padding: 10px 0;
    justify-content: center;
  }

  &__dot {
    border: none;
    width: 16px;
    height: 16px;
    background: #c5c5c5;
    border-radius: 50%;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &.active {
      background: @color-black-00;
    }
  }
}
.theme-dark {
  & .genres-banner {
    &__main,
    &__minor {
      color: @color-white-ff;
    }
  }
}
