<div class="genres-banner">
  <div class="genres-banner__main">
    TV Сериалы, Фильмы и Анимации в одном месте!
  </div>
  <div class="genres-banner__minor">
    (Спорт, Ток-Шоу, Танцы, Детские программы и многое другое)
  </div>

  <div class="genres-banner__slider keen-slider" #sliderRef>
    <a
      routerLink="/comedy"
      class="genres-banner__slide-link keen-slider__slide"
    >
      <div class="genres-banner__slide _comedy">
        <div class="genres-banner__slide-link-genre _comedy">
          <div class="genres-banner__slide-link-genre-title">Комедии</div>
          <div class="genres-banner__slide-link-genre-triangles"></div>
        </div>
      </div>
    </a>

    <a
      routerLink="/horror"
      class="genres-banner__slide-link keen-slider__slide"
    >
      <div class="genres-banner__slide _horror">
        <div class="genres-banner__slide-link-genre _horror">
          <div class="genres-banner__slide-link-genre-title">Ужасы</div>
          <div class="genres-banner__slide-link-genre-triangles"></div>
        </div>
      </div>
    </a>

    <a
      routerLink="/action"
      class="genres-banner__slide-link keen-slider__slide"
    >
      <div class="genres-banner__slide _action">
        <div class="genres-banner__slide-link-genre _action">
          <div class="genres-banner__slide-link-genre-title">Боевик</div>
          <div class="genres-banner__slide-link-genre-triangles"></div>
        </div>
      </div>
    </a>

    <a routerLink="/drama" class="genres-banner__slide-link keen-slider__slide">
      <div class="genres-banner__slide _drama">
        <div class="genres-banner__slide-link-genre _drama">
          <div class="genres-banner__slide-link-genre-title">Драма</div>
          <div class="genres-banner__slide-link-genre-triangles"></div>
        </div>
      </div>
    </a>

    <a
      routerLink="/adventure"
      class="genres-banner__slide-link keen-slider__slide"
    >
      <div class="genres-banner__slide _adventure">
        <div class="genres-banner__slide-link-genre _adventure">
          <div class="genres-banner__slide-link-genre-title">Приключение</div>
          <div class="genres-banner__slide-link-genre-triangles"></div>
        </div>
      </div>
    </a>

    <a routerLink="/fantasy" class="genres-banner__slide-link">
      <div class="genres-banner__slide _fantasy">
        <div class="genres-banner__slide-link-genre _fantasy">
          <div class="genres-banner__slide-link-genre-title">Фэнтэзи</div>
          <div class="genres-banner__slide-link-genre-triangles"></div>
        </div>
      </div>
    </a>

    <a
      routerLink="/thriller"
      class="genres-banner__slide-link keen-slider__slide"
    >
      <div class="genres-banner__slide _thriller">
        <div class="genres-banner__slide-link-genre _thriller">
          <div class="genres-banner__slide-link-genre-title">Триллер</div>
          <div class="genres-banner__slide-link-genre-triangles"></div>
        </div>
      </div>
    </a>

    <a
      routerLink="/romance"
      class="genres-banner__slide-link keen-slider__slide"
    >
      <div class="genres-banner__slide _romance">
        <div class="genres-banner__slide-link-genre _romance">
          <div class="genres-banner__slide-link-genre-title">Мелодрама</div>
          <div class="genres-banner__slide-link-genre-triangles"></div>
        </div>
      </div>
    </a>

    <a
      routerLink="/family"
      class="genres-banner__slide-link keen-slider__slide"
    >
      <div class="genres-banner__slide _family">
        <div class="genres-banner__slide-link-genre _family">
          <div class="genres-banner__slide-link-genre-title">Семейный</div>
          <div class="genres-banner__slide-link-genre-triangles"></div>
        </div>
      </div>
    </a>
  </div>
  <div class="genres-banner__dots">
    <button
      class="genres-banner__dot"
      (click)="slider.moveToIdx(i)"
      *ngFor="let slide of dots; let i = index"
      [class]="'dot ' + (i === currentSlide ? 'active' : '')"
    ></button>
  </div>
</div>
