@import '../../../assets/styles/themes/base/common/shared';
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  background: gray;
  width: 100%;
  padding-bottom: 3%;
  @media only screen and (max-width: 500px) {
    width: 150%;
  }

  &__container {
    margin-top: 30px;
    width: 80vw;
    @media only screen and (max-width: 500px) {
      width: 145vw;
    }

    ._component {
      display: flex;
      justify-content: center;
      @media only screen and (max-width: 500px) {
        width: 90vw;
      }
    }

    ._yearFrom {
      width: 24.5vw;
      margin: -1% 0 0;
      justify-content: center;
    }
    ._yearTo{
      width: 24.5vw;
      margin-top: -1%;
      margin-left: 1vw;
      justify-content: center;
    }
  }
}

.mat_from_to{
  width: 24.5vw;
}

mat-form-field{
  flex-direction: column;
  font-size: 12px;
  top: -1.5em;
  align-items: stretch;
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 50vw;
  color: black;
}

mat-label{
  white-space: nowrap;
  font-size: 20px;
  margin-left: 5vw;
  margin-right: 5vw;
  width: 20vw;
  font-weight: bold;
  @media only screen and (max-width: 500px) {
    width: 30vw;
    font-size: 18px;
  }
}

.mat_year{
  margin-left: 1vw;
}

mat-hint{
  color: #666666;
}

button {
  position: center;
  width: 15vw;
  left: 35vw;
  @media only screen and (max-width: 500px) {
    left: 35vw;
  }
}

.ff-card {
  width: 360px;
  position: relative;
  background-color: @color-gray-1b;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25), 1px -1px 8px rgba(0, 0, 0, 0.25);
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  &:hover &__name,
  &:hover &__rating,
  &:hover &__gender {
    background-color: @color-green-69;
  }

  &__img {
    width: 314px;
    height: 450px;
  }
  &__name {
    display: flex;
    position: absolute;
    bottom: 24px;
    line-height: 36px;
    font-size: 24px;
    width: 360px;
    left: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;

    color: @color-gray-1b;
    background-color: @color-white-ff;
  }

  &__rating,
  &__gender {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 24px;
    width: 84px;
    height: 49px;
    top: 0;
    bottom: 85%;
    border-radius: 0 0 0 16px;
    right: 0;
    color: @color-gray-1b;
    background-color: @color-white-ff;
  }
  &__gender .mat-icon {
    font-size: 32px;
    line-height: 32px;
    height: 32px;
    width: 32px;
  }
}

.category__card-list {
  background: gray;
  padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 72px 40px;

    @media only screen and (max-width: 1240px) {
      grid-template-columns: 1fr 1fr;
    }
    @media only screen and (max-width: 840px) {
      grid-template-columns: 1fr;
      grid-gap: 72px 0;
    }
  }

.category__card-link {
    width: 360px;

}

