@import '../../../assets/styles/themes/base/common/shared';
@import '../../../assets/styles/themes/dark/common/shared';

.header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  background: #494949;
  a {
    text-decoration: none;
    color: white;
  }

  &__left-side {
    display: flex;
    justify-content: space-around;
    width: 873px;
  }

  &__logo {
    font-size: 24px;
    margin: 20px;
  }
  hr {
    margin-bottom: 2px;
  }

  &__first-line {
    margin-top: -3px;
  }
  &__second-line {
    margin-top: 3px;
    width: 60px;
    margin-left: 5px;
  }
  &__third-line {
    margin-top: 3px;
    width: 24px;
    margin-left: 12px;
  }
  &__navigation {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-top: 20px;
    margin-left: 15px;
  }

  &__link {
    height: 40px;
    font-family: ABeeZee, serif;
    color: aliceblue;
    font-size: 23px;
    background: none;
  }

  &__toogle {
    display: none;
  }

  &__right-side {
    display: flex;
    justify-content: flex-end;
    width: 1220px;
  }

  &__user-info {
    display: flex;
    align-items: center;
  }

  &__person-icon.mat-icon {
    width: 50px;
    height: 50px;
    font-size: 50px;
    margin-right: 34px;
    color: white;
  }

  &__search {
    width: 470px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-right: 25px;
    margin-top: 18px;
    margin-top: 15px;
  }

  &__search-icon-hidden.mat-icon {
    display: none;
    margin-top: 5px;
  }
}

@media only screen and (max-width: 2630px) {
  .header {
    display: flex;

    &__right-side {
      justify-content: flex-end;
      width: 1473px;
    }

    &__left-side {
      width: 1073px;
    }

    &__search-content {
      border: solid 1px;
      border-radius: 5px;
    }
  }
}
@media only screen and (max-width: 1610px) {
  .header {
    display: flex;

    &__left-side {
      width: 800px;
    }

    &__navigation {
      margin-left: 15px;
    }
  }
}
@media only screen and (max-width: 1500px) {
  .header {
    &__right-side {
      width: 650px;
    }

    &__search-content {
      width: 400px;
    }

    &__search {
      width: 410px;
    }

    &__user-info {
      width: 50px;
    }
  }
}
@media only screen and (max-width: 1438px) {
  .header {
    width: 100vw;
    position: sticky;
    z-index: 1;
    top: 0px;

    &__right-side {
      margin-right: 10px;
    }

    &__left-side {
      justify-content: flex-start;
    }

    &__navigation {
      display: none;
    }

    &__toogle {
      position: relative;
      margin-top: 25px;
      margin-left: 10px;
      display: block;
      width: 38px;
    }

    &__logo {
      margin-left: 1px;
    }

    &__search {
      width: 420px;
      margin-right: 15px;
    }

    &__search-content {
      width: 400px;
    }

    &__person-icon {
      margin-right: 20px;
    }
  }
}

@media only screen and (max-width: 870px) {
  .header {
    &__right-side {
      justify-content: flex-end;
      width: 38%;
    }

    &__left-side {
      width: 62%;
      justify-content: flex-start;
    }

    &__search {
      width: 35px;
    }

    &__search-icon-hidden.mat-icon {
      width: 25px;
      display: block;
      cursor: pointer;
      margin-left: 5px;
    }

    &__search-icon {
      display: none;
    }

    &__toogle {
      margin-left: 12px;
    }

    &__person-icon {
      margin-right: 10px;
    }
  }
}

@media only screen and (max-width: 555px) {
  .header {
    &__search-content {
      width: 300px;
    }

    &__input {
      width: 250px;
    }
  }
}
@media screen and (max-width: 470px) {
  .header {
    &__search-content {
      width: 220px;
    }

    &__switcher {
      display: none;
    }

    &__input {
      width: 190px;
    }
  }
}
@media screen and (max-width: 380px) {
  .header {
    &__left-side {
      width: 25%;
    }

    &__logo {
      margin-left: 8px;
    }

    &__right-side {
      width: 75%;
    }

    &__search-content {
      width: 200px;
    }

    &__input {
      width: 80px;
    }
  }
}
@media screen and (max-width: 380px) {
  .header {
    &__search-content {
      width: 170px;
    }

    &__search {
      margin-right: 5px;
    }
  }
}
.theme-dark {
  & .header {
    background: @color-gray-1b;
  }

  & a {
    color: @color-green-69;
  }

  & hr {
    border-color: #69f0ae;
  }
}
