<header class="header">
  <div class="header__left-side">
    <div class="header__toogle">
      <mat-icon class="header__toogle-button" (click)="sidenav.toggle()">
        menu
      </mat-icon>
    </div>
    <div *ngIf="!isShown" class="header__logo">
      <a routerLink="">OnlineCinema</a>
    </div>
    <div class="header__navigation">
      <a class="header__link" mat-flat-button routerLink="/news">Новости</a>
      <a class="header__link" mat-flat-button routerLink="/show">Ток-шоу</a>
      <a class="header__link" mat-flat-button routerLink="/for-children"
        >Детский
      </a>
      <a class="header__link" mat-flat-button routerLink="/cartoon">
        Мультфильмы
      </a>
    </div>
  </div>
  <div class="header__right-side">
    <ff-switcher *ngIf="!isShown" class="header__switcher"></ff-switcher>
    <form class="header__search">
      <div *ngIf="isShown || desktop === true" class="header__search-content">
        <ff-search></ff-search>
      </div>
      <mat-icon
        class="header__search-icon-hidden"
        (click)="searchDisplay()"
        routerLink="."
      >
        search
      </mat-icon>
    </form>
    <div class="header__user-info">
      <mat-icon class="header__person-icon"> person_pin</mat-icon>
    </div>
  </div>
  <mat-sidenav #sidenav role="navigation">
    <ff-sidenav-list (sidenavClose)="sidenav.close()"></ff-sidenav-list>
  </mat-sidenav>
</header>
