@import '../../../assets/styles/themes/base/common/shared';

.header {
  width: 100%;
  background: @color-gray-49;
  position: fixed;
  left: 0;
  z-index: 2;
  box-shadow: 0px 1px 5px rgb(0 0 0);

  &__content {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 70px;
    max-width: 1600px;
    margin: 0 auto;
  }

  &__text {
    text-decoration: none;
    color: @color-green-69;
  }

  &__left-side {
    display: flex;
    justify-content: space-around;
    width: 873px;
  }

  &__logo {
    font-size: 24px;
    margin: 20px;
  }

  &__text:hover {
    color: @color-white-ff;
  }

  &__first-line {
    margin-top: -3px;
    margin-bottom: 2px;
    border-color: @color-green-69;
  }

  &__second-line {
    margin-bottom: 2px;
    margin-top: 3px;
    width: 60px;
    margin-left: 5px;
    border-color: @color-green-69;
  }

  &__third-line {
    margin-bottom: 2px;
    margin-top: 3px;
    width: 24px;
    margin-left: 12px;
    border-color: @color-green-69;
  }

  &__navigation.mat-nav-list {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-top: 10px;
    margin-left: 15px;
    color: @color-white-ff;
  }

  &__link {
    font-size: 20px;
    background: none;
    font-family: 'Bellota Text';
  }

  &__link:hover {
    color: @color-green-69;
  }
  &__toogle {
    display: none;
    color: @color-white-ff;
  }

  &__right-side {
    display: flex;
    justify-content: flex-end;
    width: 1220px;
  }

  &__search {
    width: 470px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-right: 25px;
    margin-top: 18px;
  }

  &__search-icon-hidden.mat-icon {
    display: none;
    margin-top: 5px;
    color: @color-white-ff;
  }
}

@media only screen and (max-width: 1438px) {
  .header {
    width: 100vw;
    position: sticky;
    z-index: 1;
    top: 0px;

    &__right-side {
      margin-right: 5px;
    }

    &__left-side {
      justify-content: flex-start;
    }

    &__navigation.mat-nav-list {
      display: none;
    }

    &__toogle {
      position: relative;
      margin-top: 25px;
      margin-left: 10px;
      display: block;
      width: 38px;
    }

    &__logo {
      margin-left: 1px;
    }

    &__search {
      width: 420px;
      margin-right: 15px;
    }

    &__search-content {
      width: 400px;
    }
  }
}

@media only screen and (max-width: 870px) {
  .header {
    &__right-side {
      justify-content: flex-end;
      width: 38%;
    }

    &__left-side {
      width: 62%;
    }

    &__search {
      width: 35px;
    }

    &__search-icon-hidden.mat-icon {
      width: 25px;
      display: block;
      cursor: pointer;
      margin-left: 5px;
    }

    &__search-icon {
      display: none;
    }

    &__toogle {
      margin-left: 12px;
    }
  }
}

@media only screen and (max-width: 520px) {
  .header {
    &__search-content {
      width: 350px;
    }

    &__input {
      width: 300px;
    }
  }
}
@media screen and (max-width: 470px) {
  .header {
    &__search-content {
      width: 300px;
    }

    &__switcher {
      display: none;
    }

    &__input {
      width: 250px;
    }
  }
}
@media screen and (max-width: 400px) {
  .header {
    &__left-side {
      width: 25%;
    }

    &__logo {
      margin-left: 8px;
    }

    &__right-side {
      width: 75%;
    }

    &__search-content {
      width: 250px;
    }

    &__search {
      margin-right: 5px;
    }
  }
}
.theme-dark {
  & .header {
    box-shadow: 0px 0.4em 5px rgba(10, 10, 10, 0.5);
    background: @color-gray-1b;

    &__first-line,
    &__second-line,
    &__third-line {
      border-color: @color-green-69;
    }
    &__link,
    &__text,
    &__search-icon-hidden,
    &__navigation,
    &__toogle {
      color: @color-green-69;
    }
  }
}
