@import '../../../assets/styles/themes/base/common/shared';

.search {
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: space-around;
  background: white;
  border-radius: 18px;
  padding: 5px;
  &__search-icon,
  &__filter {
    cursor: pointer;
    margin-right: 5px;
  }
  &__search-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: solid 1px;
    border-radius: 5px;
  }
  &__input {
    border: none;
    width: 400px;
    border-radius: 5px;
  }
  &__container {
    padding: 0;
  }
}

.search-field {
  &__list.mat-list-base {
    max-width: 439px;
    padding-top: 0;
    z-index: 1;
    position: relative;
    background: #494949;
    border-radius: 10px;
  }
  &__list-item {
    color: white;
    min-height: 83px;
    margin-bottom: 10px;
    display: flex !important;
    align-items: center;
  }
  &__img {
    height: 80px;
    width: 53px;
  }
  &__names {
    display: inline;
    margin-left: 16px;
  }
  &__name-en {
    font-size: 13px;
  }
  &__name-ru {
    font-size: 19px;
    font-family: sans-serif;
  }
  &__title-name {
    margin-top: 19px;
    font-size: 18px;
    color: white;
    padding: 10px;
    margin-bottom: 0;
  }
  &__second-title-name {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 18px;
    color: white;
    padding: 10px;
  }
  &__button {
    color: white;
    margin: 0px 0px 0px 9px;
    padding: 0;
  }
  &__full-list {
    display: flex;
    align-items: center;
  }
}
.theme-dark {
  & .search {
    &__filter {
      color: black;
    }
  }

  & .search-field {
    &__list {
      background: @color-gray-1b;
    }
  }
}
@media only screen and (max-width: 555px) {
  .search-field {
    &__list.mat-list-base {
      margin-right: -100px;
      padding-top: 0;
      z-index: 1;
      position: relative;
      background: #494949;
      border-radius: 10px;
    }
  }
}
@media only screen and (max-width: 425px) {
  .search-field {
    &__list.mat-list-base {
      margin-right: -100px;
      padding-top: 0;
      z-index: 1;
      position: relative;
      background: #494949;
      border-radius: 10px;
    }
  }
}

@media only screen and (max-width: 380px) {
  .search-field {
    &__list.mat-list-base {
      margin-right: -100px;
      max-width: 250px;
      padding-top: 0;
      z-index: 1;
      position: relative;
      background: #494949;
      border-radius: 10px;
    }
  }
  .search {
    &__input {
      width: 120px;
    }
  }
}

@media only screen and (max-width: 320px) {
  .search-field {
    &__list.mat-list-base {
      margin-right: -100px;
      padding-top: 0;
      z-index: 1;
      position: relative;
      background: #494949;
      border-radius: 10px;
    }
  }
  .search {
    &__input {
      width: 120px;
    }
  }
}
