<div class="person">
  <ng-container *ngIf="personsInfo">
    <div class="person__details">
      <div class="person__details _img">
        <img
          src="{{ personsInfo?.posterUrl }}"
          alt="poster"
          class="person__details _img _person-img"
        />
      </div>

      <div class="person__details _info">
        <div class="person__details _info">
          <div class="person__details _info _title _icon">
            <ng-container
              *ngIf="personsInfo?.sex === 'FEMALE'; else maleTemplate"
            >
              <div class="person__details _icon">
                <mat-icon class="person__details _icon _female"
                  >female</mat-icon
                >
              </div>
            </ng-container>
            <ng-template #maleTemplate>
              <div class="person__details _icon">
                <mat-icon class="person__details _icon _male">male</mat-icon>
              </div>
            </ng-template>
            <div class="person__details _info _title _nameRu">
              <ng-container *ngIf="personsInfo.nameRu; else NameEnTemplate">{{
                personsInfo?.nameRu
              }}</ng-container>
              <ng-template #NameEnTemplate>
                {{ personsInfo?.nameEn }}
              </ng-template>
            </div>
          </div>
          <div class="person__details _info _nameEn">
            <ng-container *ngIf="personsInfo.nameRu"
              >{{ personsInfo?.nameEn }}
            </ng-container>
          </div>
        </div>

        <div class="person__details _info">
          <div class="person__details _info _data">
            <div class="person__details _info _data _date-title">
              Дата рождения
            </div>
            <div class="person__details _info _data _date">
              {{ personsInfo.birthday }}
            </div>
            <div class="person__details _info _data _age-title">Возраст</div>
            <div class="person__details _info _data _age">
              {{ personsInfo.age }}
            </div>
          </div>
          <div class="person__details _info _place">
            <div class="person__details _info _birthplace-title">
              Место рождения
            </div>
            <div class="person__details _info _birthplace">
              {{ personsInfo.birthplace }}
            </div>
          </div>
        </div>
        <ng-container *ngIf="personsInfo.death">
          <div class="person__details _info _date _death">
            {{
              'Дата смерти ' + personsInfo.death + ', ' + personsInfo.deathplace
            }}
          </div>
        </ng-container>
      </div>
    </div>
    <div class="person__facts">
      <div class="person__facts _profession">
        <div class="person__facts _profession _profession-title">Провессия</div>
        <div class="person__facts _profession">
          {{ personsInfo.profession }}
        </div>
      </div>
      <div class="person__facts _spouses">
        <div class="person__facts _spouses _relation-title">Отношения</div>
        <ng-container *ngFor="let spousesItem of personsInfo?.spouses">
          <div class="person__facts _spouses _relation">
            <div class="person__facts _spouses _relation _icon-and-name">
              <div
                class="person__facts _spouses _relation _icon"
                *ngIf="spousesItem.relation === 'супруга'; else maleTemplate"
              >
                <div class="person__facts _spouses _relation _icon _female">
                  <mat-icon>female</mat-icon>
                </div>

                <ng-template #maleTemplate>
                  <div class="person__facts _spouses _relation _icon _male">
                    <mat-icon>male</mat-icon>
                  </div>
                </ng-template>
              </div>
              <div class="person__facts _spouses _relation _name">
                <a
                  class="person__facts _spouses _relation _person-link _name"
                  routerLink="/persons/{{ spousesItem?.personId }}"
                >
                  {{ spousesItem.name }}
                </a>
              </div>
            </div>
            <div class="person__facts _spouses _relation _divorced">
              {{ spousesItem.divorced ? 'Разведены' : 'В браке' }}
            </div>
            <div class="person__facts _spouses _relation _children">
              {{
                spousesItem?.children !== 0
                  ? 'Детей ' + spousesItem.children
                  : 'Детей нет'
              }}
            </div>
          </div>
        </ng-container>
      </div>
      <div class="person__facts _fact">
        Факты
        <ng-container *ngFor="let factsItem of personsInfo?.facts">
          <p class="person__facts _fact _fact-paragraph">{{ factsItem }}</p>
        </ng-container>
      </div>
      <div class="person__facts _films">
        Фильмы
        <ng-container *ngFor="let filmsItem of personsInfo?.films">
          <div class="person__facts _film">
            <div class="person__facts _rating-name">
              <div class="person__facts _rating">
                {{ filmsItem.rating }}
              </div>
              <div class="person__facts _nameRu">
                <a
                  class="person__facts _name"
                  routerLink="/details/{{ filmsItem?.filmId }}"
                  >{{ filmsItem.nameRu }}</a
                >
              </div>
            </div>
            <div class="person__facts _film _professionKey">
              {{ filmsItem.professionKey }}
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
