<div class="person">
  <div class="person__stripe"></div>
  <ng-container *ngIf="personsInfo">
    <div class="person__details">
      <div class="person__photo">
        <img
          src="{{ personsInfo.posterUrl }}"
          alt="poster"
          class="person__img"
        />
      </div>

      <div class="person__info">
        <div class="person__main-info">
          <div class="person__gender-and-name">
            <ng-container *ngIf="!!personsInfo.sex">
              <mat-icon
                class="person__icon-title"
                [ngClass]="
                  personsInfo.sex === GENDER.FEMALE ? '_female' : '_male'
                "
              >
                {{ personsInfo.sex === GENDER.FEMALE ? 'female' : 'male' }}
              </mat-icon>
            </ng-container>
            <div class="person__name">
              <ng-container *ngIf="personsInfo.nameRu; else NameEnTemplate">
                {{ personsInfo.nameRu }}
              </ng-container>
              <ng-template #NameEnTemplate>
                {{ personsInfo?.nameEn }}
              </ng-template>
            </div>
          </div>
          <div class="person__name-en">
            <ng-container *ngIf="personsInfo.nameRu">
              {{ personsInfo.nameEn }}
            </ng-container>
          </div>
        </div>

        <div class="person__details-data">
          <div class="person__data">
            <ng-container *ngIf="!!personsInfo.birthday">
              <div class="person__label-title">Дата рождения</div>
              <div class="person__label-info">
                {{ personsInfo.birthday | date: 'dd MMMM yyyy':'GMT':'ru-Ru' }}
              </div>
            </ng-container>
            <ng-container *ngIf="!!personsInfo.death || !!personsInfo.age">
              <div class="person__label-title">
                {{ !!personsInfo.death ? 'Дата смерти' : 'Возраст' }}
              </div>
              <div class="person__label-info">
                {{
                  !!personsInfo.death
                    ? (personsInfo.death | date: 'dd MMMM yyyy':'GMT':'ru-Ru')
                    : personsInfo.age
                }}
              </div>
            </ng-container>
          </div>
          <div class="person__place" *ngIf="!!personsInfo.birthplace">
            <div class="person__label-title">Место рождения</div>
            <div class="person__label-info">
              {{ personsInfo.birthplace }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="person__own-dossier">
      <div class="person__profession" *ngIf="personsInfo.profession">
        <div class="person__title">Профессия</div>
        <div class="person__profession-name">
          {{ personsInfo.profession }}
        </div>
      </div>
      <ff-person-spouses
        *ngIf="personsInfo.spouses.length !== 0"
        [spouses]="personsInfo.spouses"
      ></ff-person-spouses>
      <ff-person-facts
        [facts]="personsInfo.facts"
        *ngIf="personsInfo.facts.length !== 0"
      ></ff-person-facts>
      <ff-person-films [films]="personsInfo.films"></ff-person-films>
    </div>
  </ng-container>
</div>
