<div class="similar-films">
  <p class="similar-films__title">Похожие фильмы</p>
  <div class="similar-films__slider keen-slider" #sliderRef>
    <ng-container *ngFor="let films of (similarFilms$ | async)?.items">
      <a
        class="similar-films__card-link keen-slider__slide"
        routerLink="/details/{{ films.filmId }}"
      >
        <ff-card
          class="similar-films__card"
          [name]="films.nameRu || films.nameOriginal"
          [url]="films.posterUrlPreview"
        >
        </ff-card>
      </a>
    </ng-container>
  </div>
  <div class="similar-films__dots">
    <p>hello world</p>
    <button
      class="similar-films__dot"
      (click)="slider.moveToIdx(i)"
      *ngFor="let slide of dots; let i = index"
      [class]="'dot ' + (i === currentSlide ? 'active' : '')"
    ></button>
  </div>
</div>
