<div class="similar-films">
  <p *ngIf="similarFilms.length" class="similar-films__title">Похожие фильмы</p>
  <div class="similar-films__slider keen-slider" #sliderRef>
    <div
      class="similar-films__card-container keen-slider__slide"
      *ngFor="let film of similarFilms"
    >
      <a
        class="similar-films__card-link"
        routerLink="/details/{{ film.filmId }}"
      >
        <ff-card
          class="similar-films__card"
          [name]="film.nameRu || film.nameOriginal"
          [url]="film.posterUrlPreview"
        >
        </ff-card>
      </a>
    </div>
  </div>
  <div [class._inactive]="similarFilms.length <= 3" class="similar-films__dots">
    <button
      *ngFor="let slide of dots; let i = index"
      class="similar-films__dot"
      [class]="'dot ' + (i === currentSlide ? 'active' : '')"
      (click)="moveToIndex(i)"
    ></button>
  </div>
</div>
