@color-black-00: #000000;

@color-gray-66: #666666;

@color-white-ff: #ffffff;

@color-comedy: #b21111;
@color-horror: #490000;
@color-adventures: #2c6102;
@color-thriller: #00657b;
@color-melodrama: #cf4409;
@color-fantasy: #00add3;
@color-action: #192241;
@color-family: #5025ad;
@color-drama: #2f4c58;
@color-crime: #9e8b25;
@color-cartoon: #74a12a;
@color-anime: #a12a8e;
@color-military: #2b8660;
@color-history: #004267;
@color-biography: #474732;
@color-detective: #a43370;
@color-fiction: #6b5858;
@color-western: #30353a;
@color-music: #a7e43d;
@color-musical: #571610;
@color-sport: #65de74;
@color-documentary: #163200;
@color-short-film: #67acb3;
@color-news: #a9aba5;
@color-concert: #e0d336;
@color-for-adults: #b193be;
@color-ceremony: #7b633c;
@color-real-tv: #c4df80;
@color-game: #4251fd;
@color-talk-show: #d6ab8c;
@color-baby: #78e6c7;
@color-blue-27: #274879;
@color-pink-cb: #cb4a78;
@color-green-69: #69f0ae;
@color-gray-1b: #1b1b1b;
