<div class="container">
  <div class="slider-title">
    <h1>Все жанры фильмов ></h1>
    <p>(Комедия, хоррер, боевик, драма, семейный и многое другое)</p>
  </div>
  <div class="keen-slider" #sliderRef>
    <a routerLink="/comedy"
      ><div class="keen-slider__slide number-slide1">comedy</div></a
    >
    <a routerLink="/horror"
      ><div class="keen-slider__slide number-slide2">horror</div></a
    >
    <a routerLink="/action"
      ><div class="keen-slider__slide number-slide3">action</div></a
    >
    <a routerLink="/drama"
      ><div class="keen-slider__slide number-slide4">drama</div></a
    >
    <a routerLink="/adventure"
      ><div class="keen-slider__slide number-slide5">adventure</div></a
    >
    <a routerLink="/fantasy"
      ><div class="keen-slider__slide number-slide6">fantasy</div></a
    >
    <a routerLink="/thriller"
      ><div class="keen-slider__slide number-slide7">thriller</div></a
    >
    <a routerLink="/romance"
      ><div class="keen-slider__slide number-slide8">romance</div></a
    >
    <a routerLink="/family"
      ><div class="keen-slider__slide number-slide9">family</div></a
    >
  </div>
  <div class="dots">
    <button
      (click)="slider.moveToIdx(i)"
      *ngFor="let slide of dotHelper; let i = index"
      [class]="'dot ' + (i === currentSlide ? 'active' : '')"
    ></button>
  </div>
</div>
