<div class="nav-list">
  <nav class="nav-list__list">
    <div mat-list-item class="nav-list__link" (click)="onSidenavClose()">
      <div class="nav-list__link" mat-flat-button routerLink="/news">
        Новости
      </div>
    </div>

    <div mat-list-item class="nav-list__link" (click)="onSidenavClose()">
      <div class="nav-list__link" mat-flat-button routerLink="/show">
        Ток-шоу
      </div>
    </div>
    <div mat-list-item class="nav-list__link" (click)="onSidenavClose()">
      <div class="nav-list__link" mat-flat-button routerLink="/for-children">
        Детский
      </div>
    </div>
    <div mat-list-item class="nav-list__link" (click)="onSidenavClose()">
      <div class="nav-list__link" mat-flat-button routerLink="/cartoon">
        Мультфильмы
      </div>
    </div>
  </nav>
</div>
